

.bg-model{
	width:100%;
	height:100%;
	background:url(img/bc.jpg);
	opacity:0.8 ;
	
	background-size:cover;
	position: absolute;
	top:0;
	left:0;
	display:absolute;
	
}

.input{
	border:none;
	outline:none;
	background: none;
	border-bottom: 1.5px solid #696969;
	font-size:17px;
	padding-bottom:5px;
	font-family:arial;
	color:#8B0000;
	
	
}

.Contain{
	
	position:absolute;
	top:0px;
	left:165px;
	
	margin-top:80px;
	margin-left:430px;
	padding-left:35px;
	padding-top:40px;
	padding-right:30px;
	
	width:615px;
	height:510px;
	
	background-color: #FDF5E6;
	 border-top-right-radius: 16px;
	 border-bottom-right-radius: 16px;
	box-shadow:10px 15px 15px rgba(0,0,0,0.6);
}

.Rqbutton{
		position:absolute;
		top:488px;
		 
		border: 1px solid #000;
		background: #00D4FF;
		left:500px;
		outline: none;
		height: 35px;
		color: #000;
		font-size: 16px;
		padding-left: 35px;
		padding-right: 35px;
		margin-left:-235px;
		border-radius: 6px;
		box-shadow:0.5px 0.5px 2px rgba(0,0,0,0.2);
		background-image:linear-gradient(to right, #9BFDF7, #28DBEF);

			}
			
	.Rqbutton:hover{
		 background: #FA5C5C;
		color: #fff;
		box-shadow:2px 2px 6px rgba(0,0,0,0.3);
		
	}


.spimg{
	 position:absolute; 
	 top:80px; 
	 left:252px; 
	 height:550px;
	 width:350px;
	 border-top-left-radius: 16px;
	 border-bottom-left-radius: 16px;
	
}



