

.bg-model{
	width:100%;
	height:100%;
	background:url(Doclist.php);
	background-color:black;
	opacity:0.6;
	position: absolute;
	top:0;
	left:0;
	display:absolute;
	
}

.Contain{
	
	margin-top:110px;
	margin-left:430px;
	padding-left:35px;
	padding-top:45px;
	padding-right:30px;
	padding-bottom:20px;
	width:600px;
	height:400px;
	font-family:san-serif;
	font-size:21px;
	background-color: #B3FFF2;
	border-radius: 16px;
	
}


.Rqbutton{
		position:absolute;
		top:514px;
		 border: none;
		border: 1px solid #000;
		background: #00D4FF;
	
		outline: none;
		height: 30px;
		color: #000;
		font-size: 16px;
		padding-left: 35px;
		padding-right: 35px;
		left:690px;
		border-radius: 16px;

			}